[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
s3fs = "*"
awscli = "*"
fsspec = "*"
numpy = "*"
flask = "*"
gunicorn = "*"
pandas = "*"
seaborn = "*"
hyperopt = "*"
fastparquet = "*"
jupyter = "*"
kaggle = "*"
jupyterlab-lsp = "*"
"python-lsp-server[all]" = "*"
mlflow = "*"
scikit-learn = "*"
psycopg2-binary = "*"
xgboost = "*"
matplotlib = "*"
lightgbm = "*"
catboost ="*"
boto3 = "*"
prefect = "*"
prefect-aws = "*"
pymongo = "*"
tabulate = "*"
jinja2 = "*"
pynacl = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
deepdiff = "*"
pylint = "*"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
